/*-- scss:defaults --*/


$warm-beige: #F2E5BD;
$palest-beige: #FEFCF9;
$aquatic-blue: #3E8EBC;
$navy-blue: #052744;
$warm-gray: #053A42;
$medium-gray: #6c757d; // copied from bootstrap's $gray-600

$pale-aquatic-blue: #AED1E4;
$paler-aquatic-blue: #cee9f7;
$off-white: #FAF1E4;
